@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to File Uploader</h1>
    <h2 class="display-8">You can upload here!!!</h2>
    <p>To visit Azure Portal <a href="https://portal.azure.com/#home">Click here</a>.</p>
</div>
