@{
    ViewData["Title"] = "About Us";
    ViewData["Subs"] = "Genuine Information";
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Subs"]</h2>

<p>This web application has been developed by using ASP.NET Core</p>

<p>@DateTime.Now</p>